@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



* {
    box-sizing: border-box;
    cursor: default;
}

body {
    width: 100%;
    margin: 0;

}

.Logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px 173px;
}

.Logos div img {
    padding: 20px;
}

/* -------------Navbar------------- */

nav .logo {
    margin-left: 105px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 1;
    height: 100px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
}

nav .navref {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 5%;
    padding: 0;

}

nav .navref a {
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 32px;

    color: #2B2B2B;
    transition: .25s;
    cursor: pointer;

}

nav .navref a:hover {
    background: #EFEFEF;
    border-radius: 32px;

}

nav .navref button {
    border: none;
    background: none;
    cursor: pointer;
}

.header {
    z-index: 2;
    background: #3B3B3B;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header .column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
}

.header .column2 {
    width: 40%;
    position: relative;
}

.gr {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(235deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0) 66%)
}

.vector1 {
    position: sticky;
    right: 20px;
}

.FSquares {
    position: absolute;
    left: 68px;
    top: -11px;
}

.FUnion {
    position: absolute;
    top: -16px;
}

.FCircles {
    position: absolute;
    top: -42px;
}

.FSemicirctop {
    position: absolute;
    top: -23px;
}

.FSemicircbot {
    position: absolute;
    top: 23px;
}

.titleHome {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 30px;
    color: #F0F0F0;
}

/* -------------Contacts page------------- */

.ContactHeader {
    display: flex;
    background: #EFEFEF;
}

.ContactColumn {
    width: 50%;
    padding: 92px 105px;
}



.ContactColumn p:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 61px 0 0 0;
    color: #2D2D2D;
}

.ContactColumn p:nth-child(3) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 0 0 51px 0;
    color: #2D2D2D;

}

.ContactBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
}

.ContactBtn p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.ContactBtn:hover {
    background: #C71414;

}

.ContactTextDescription {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #404040;
}


/* -------------Work at Sabzer page------------- */

.titleWork {
    background: #EFEFEF;
    padding: 82px 0 26px 104px;


}

.titleWork p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */

    display: flex;
    align-items: center;

    color: #2D2D2D;
}

.WorkBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
}

.Work-btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
}

.Work-btn1:hover {

    background: #C71414;
    border-radius: 32px;
}

.Work-btn1 p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

.Work-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    border-radius: 32px;
    margin-left: 7px;
    cursor: pointer;
    border: 1px solid;
    transition: .5s;
}

.Work-btn2 p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #2B2B2B;
    width: fit-content;
    cursor: pointer;

}

.VacanciesSection {
    background: #EFEFEF;
    padding: 140px 0 95px 0;
}

.VacanciesSection div {
    background: #F7F7F7;
    border-radius: 10px;
    padding: 40px 0 40px 40px;
    margin: 26px 105px;
}

.VacanciesAviability {
    display: flex;
    justify-content: flex-end;
    padding: 0 106px 12px;
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: right;

    color: #2D2D2D;
}

.CandidatureSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 81px 105px;
}

.CandidateP1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 32px;
    color: #000000;
    margin: 0;
}

.CandidateP2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
    opacity: 0.5;
    margin: 0;
}

.JobPosition {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;

}

.JobSchedule {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;

}

.DivColor {
    background: #EFEFEF;
    padding: 51px 0;
}

.subtitle1 {
    height: 90px;
    width: 564px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-left: 100px;
    color: #F0F0F0;

    opacity: 0.5;
}

.WhyUs {
    padding: 120px 90px;
    background: #3B3B3B;
}

.WhySection {
    position: relative;
    max-width: 304px;

}

.WhySection img {
    position: absolute;
    left: -93px;
    top: -125px;
}


.textArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textArea :nth-child(3) {
    margin: 28px 0 0 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #F0F0F0;

    opacity: 0.5;
    clear: both;
}

.title2 {
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    color: #F0F0F0;
}

.subtitle2 {}

.text1 {
    max-width: 638px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #F0F0F0;
}


.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #EFEFEF;
    padding: 102px;
}

.FDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px;
}

.FDev h3 {
    margin: 60px 0 15px 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    text-align: center;

    color: #2D2D2D;
}

.FDev p {
    width: 230px;
    height: 160px;
    left: 0px;
    top: 172px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    text-align: center;

    color: #2D2D2D;

    opacity: 0.5;
}

.cta {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: #EFEFEF;

}


.cta-btn {
    width: 200px;
    height: 64px;
    margin: 40px 0 79px 0;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .5s;
}

.cta-btn:hover {

    background: #C71414;
    /* opacity: 0; */
    border-radius: 32px;
}

.cta-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.title3 {
    /* height: 180px; */
    padding: 79px 0 0 0;
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D2D2D;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.subtitle3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    color: #2D2D2D;

    opacity: 0.5;

}

/* -------------Partnership page------------- */

.PartnerHeader {
    display: flex;
    justify-content: space-between;
    background: #EFEFEF;
}

.PartnerColumn1 {
    padding: 73px 0 0 101px;

}

.PartnerColumn2 {
    position: relative;
    width: 50%;
}

.PartnerVector {
    position: absolute;
    right: 0;
    bottom: 0;
}

.Partner-btn {
    width: 200px;
    height: 64px;
    margin: 40px 0 79px 0;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .5s;
}

.Partner-btn:hover {

    background: #C71414;
    /* opacity: 0; */
    border-radius: 32px;
}

.Partner-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.PartnershipTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin: 0 0 32px 0;

    color: #2D2D2D;
}

.PartnershipDescription {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    width: 728px;
    color: #2D2D2D;

    opacity: 0.5;
}

.PartnerMain {
    background: #EFEFEF;
}

.PMheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PMheader .p1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 728px;
    margin: 0;
    padding: 73px 0 0 0;

    color: #2D2D2D;

}

.PMheader .p2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 30px;
    color: #000000;

    opacity: 0.5;
}

.PMsections {
    padding: 103px 0 26px 104px;
}

.PMsection1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    color: #000000;

}

.PMsection1 .title {
    margin: 0;
    line-height: normal;
}

.PMsection2 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    color: #000000;
}

.PMsection3 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    color: #000000;
}

.PMsection4 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    color: #000000;
}

.section2-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section2-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section2-domains .domain-description {
    width: 200px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.section3-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.section3-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section3-domains .domain-description {
    /* width: 200px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.section4-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.section4-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section4-domains .domain-description {
    /* width: 200px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.PMcontact p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    text-align: center;
    margin: 81px 105px;
    color: #000000;
}


.PMForm {
    display: flex;
    background: #EFEFEF;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.PMForm .container {
    display: flex;
    /* width: 50%; */
    margin: 61px 105px;
    flex-direction: column;

}

.PMForm .container:nth-child(2) {
    align-items: center;

}

.PMForm .container .title {
    width: 517px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin: 0;


}

.PMForm .container .description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 490px;
    color: #404040;

    opacity: 0.99;

}

.PMForm .container .description .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;

}

.PMForm .container .Form input {
    width: 308px;
    height: 40px;
    margin: 0 0 12px 0;

}


.PMForm .container .Form .col input {
    width: 150px;
    height: 40px;
   
    /* margin: 0 0 12px 0; */

}

.PMForm .container .Form .checkbox {
    height: 24px;
    width: 24px;
    margin: 0;
}

.PMForm .container .Form .check {
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;

}
.PMForm .container .Form .checkP {
    margin: 0 0 0 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #404040;

}

.PMForm .container .Form .checkP .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;
}

.PMForm .container .Form .submitbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
}

.PMForm .container .Form .submitbtn p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.PMForm .container .Form .submitbtn:hover {
    background: #C71414;

}

.PMForm .container .Form .usermess {
    height: 55px;
}


.PMForm .container .Form .vector1 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector1 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector1 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector1 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector1 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector1 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector1 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector2 {
    position: relative;
}

.PMForm .container .Form .vector2 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector2 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector2 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector2 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector2 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector2 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector2 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector3 {
    position: relative;
}

.PMForm .container .Form .vector3 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector3 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector3 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector3 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector3 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector3 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector3 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}




.PMForm .container .Form .vector4 {
    position: relative;
}

.PMForm .container .Form .vector4 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector4 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector4 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector4 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector4 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector4 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector4 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector5 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 7px 0 0;
    width: 308px;
}

.PMForm .container .Form .vector5 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector5 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector5 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector5 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector5 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector5 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector5 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector6 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector6 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector6 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector6 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector6 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector6 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector6 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector6 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}


.PMForm .container .Form .vector7 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector7 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector7 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector7 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector7 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector7 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector7 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector7 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}

.PMForm .container .Form .vector8 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector8 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector8 img {
    position: absolute;
    top: 17px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector8 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector8 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector8 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector8 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector8 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}




/* -------------Footer------------- */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .contactInfo {
    background: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 105px;
}

footer .contactInfo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    /* margin: 61px 0 0 0; */
    color: #2D2D2D;
}

footer .contactLinks {
    padding: 60px 105px;
    display: flex;
    flex-direction: column;

}


footer .contactIcons {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 30px 0;
    cursor: pointer;

}

footer .contactIcons img {
    cursor: pointer;

}

footer .contactIcons a {
    padding: 0 0 0 20px;

}


footer .navref {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;

}

footer .navref a {
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 0 63px;
    padding: 5px;

    color: #2D2D2D;
    transition: .25s;
    cursor: pointer;

}

footer .navref a:hover {
    background: #EFEFEF;
    border-radius: 32px;

}

footer .contactCopy {
    display: flex;
    justify-content: space-between;
}

footer .contactCopy p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    display: flex;
    align-items: center;

    color: #2D2D2D;
}


/* -------------Burger------------- */

*,
*:before,
*:after {
    box-sizing: border-box;
}

label .menu {
    position: absolute;
    right: -90px;
    top: -90px;
    z-index: 100;
    width: 200px;
    height: 150px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;

}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #3B3B3B;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #3B3B3B;


}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    position: fixed;


}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style-type: none;
    text-align: center;
}

label a {
    margin-bottom: 3em;
    padding: 20px;
    display: block;
    color: #2B2B2B;
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    transition: .25s;

}

label a:hover {
    background: #EFEFEF;
    border-radius: 32px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}


/* -------------Media------------- */


@media screen and (min-width: 1024px) {
    nav label {
        display: none;
    }

}


@media screen and (max-width: 1023px) {
    nav .navref li {
        display: none;
    }

    .column2 {
        display: none;
    }

    .header .column1 {
        width: 100%;
    }
}