@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



* {
    box-sizing: border-box;
    cursor: default;
}

body {
    width: 100%;
    margin: 0;
}

.Logos {
   
    /* padding: 90px 173px; */
}

.Logos div img {
    padding: 20px;
}

/* -------------Navbar------------- */

nav .logo {
    margin-left: 30px;
    cursor: pointer;
    width: 108px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 1;
    /* height: 100px; */
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
}

.navbar-nav a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #2B2B2B;
    transition: .25s;
    cursor: pointer;
    border-radius: 32px;
    margin: 25px 0;
    text-align: center;
}

.navbar-nav a:hover {
background: rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    cursor: pointer;
    width: 108px;
}


nav .navref button {
    border: none;
    background: none;
    cursor: pointer;
}

.header {
    z-index: 2;
    background: #3B3B3B;
    display: flex;
    

}

.header .column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    padding: 70px 0 0 0;
}

.header .column2 {
    width: 50%;
    position: relative;
}

.header-container {
    max-width: 1320px;
    margin: 0 auto 0 auto;
    /* padding: 0 15px; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.FDev-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 70px 0 30px 0;
    background: #EFEFEF;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #EFEFEF;
}

.WhyUs-container {
    max-width: 1320px;
    margin: 0 auto;
}

.Logos-container {
    max-width: 1320px;
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}


.titleHome {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 30px;
    color: #F0F0F0;
}

.subtitle1 {
    height: 90px;
    /* width: 564px; */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #F0F0F0;

    opacity: 0.5;
}

.gr {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(235deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0) 45%)
}

.vector1 {
    position: relative;
}

.FSquares {
    position: absolute;
    left: 68px;
    top: -11px;
}

.FUnion {
    position: absolute;
    top: -16px;
}

.FCircles {
    position: absolute;
    top: -42px;
}

.FSemicirctop {
    position: absolute;
    top: -23px;
}

.FSemicircbot {
    position: absolute;
    top: 49px;
}

/* -------------Contacts page------------- */

.ContactHeader-container {
    display: flex; 
    max-width: 1320px;
    margin: 0 auto;
}

.ContactHeader {
    background: #EFEFEF;
}

.ContactColumn {
    width: 50%;
    padding: 90px 0;
}



.ContactColumn p:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 61px 0 0 0;
    color: #2D2D2D;
}

.ContactColumn p:nth-child(3) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 0 0 51px 0;
    color: #2D2D2D;

}

.ContactBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    transition: .5s;
    cursor: pointer;
}

.ContactBtn p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.ContactBtn:hover {
    background: #C71414;

}

.ContactTextDescription {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #404040;
}


/* -------------Work at Sabzer page------------- */

.titlework-container {
    max-width: 1320px;
    margin: 0 auto;
}

.VacanciesSection-container {
    max-width: 1320px;
    margin: 0 auto;
}

.CandidatureSection-container {
    max-width: 1320px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.titleWork {
    background: #EFEFEF;
    padding: 82px 0 26px 0;


}

.titleWork p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */

    display: flex;
    align-items: center;

    color: #2D2D2D;
}

.WorkBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
}

.Work-btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
}

.Work-btn1:hover {

    background: #C71414;
    border-radius: 32px;
}

.Work-btn1 p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;

}

.Work-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    border-radius: 32px;
    margin-left: 7px;
    cursor: pointer;
    border: 1px solid;
    transition: .5s;
}

.Work-btn2 p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #2B2B2B;
    width: fit-content;
    cursor: pointer;
    line-height: normal;
    margin: 0;

}

.VacanciesSection {
    background: #EFEFEF;
    padding: 140px 0 95px 0;
}

.VacanciesSection div {
    background: #F7F7F7;
    border-radius: 10px;
    padding: 40px 0 40px 10px;
    /* margin: 26px 105px; */
}

.VacanciesAviability {
    display: flex;
    justify-content: flex-end;
    padding: 0 106px 12px;
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: right;

    color: #2D2D2D;
}

.CandidatureSection {
    padding: 81px 0;
}

.CandidateP1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 32px;
    color: #000000;
    margin: 0;
}

.CandidateP2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
    opacity: 0.5;
    margin: 0;
}

.JobPosition {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;

}

.JobSchedule {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;

}

.DivColor {
    background: #EFEFEF;
    padding: 51px 0;
}

.WhyUs {
    padding: 120px 0;
    background: #3B3B3B;
}

.WhySection {
    position: relative;
    max-width: 304px;

}

.WhySection img {
    position: absolute;
    left: -93px;
    top: -125px;
}


.textArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textArea :nth-child(3) {
    margin: 28px 0 0 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #F0F0F0;

    opacity: 0.5;
    clear: both;
}

.title2 {
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    color: #F0F0F0;
}

.subtitle2 {}

.text1 {
    max-width: 638px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #F0F0F0;
}


.features {
    background: #EFEFEF;
    /* padding: 102px; */
}

.FDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px;
}

.FDev h3 {
    margin: 60px 0 15px 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    text-align: center;

    color: #2D2D2D;
}

.FDev p {
    width: 230px;
    height: 160px;
    left: 0px;
    top: 172px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    text-align: center;

    color: #2D2D2D;

    opacity: 0.5;
}

.cta {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: #EFEFEF;

}


.cta-btn {
    width: 200px;
    height: 64px;
    margin: 40px 0 79px 0;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .5s;
    cursor: pointer;
}

.cta-btn:hover {

    background: #C71414;
    /* opacity: 0; */
    border-radius: 32px;
}

.cta-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

.title3 {
    /* height: 180px; */
    padding: 79px 0 0 0;
    margin: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D2D2D;
}

.subtitle3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    color: #2D2D2D;

    opacity: 0.5;

}

/* -------------Partnership page------------- */


.PartnerHeader-container {
    max-width: 1320px;
    margin: 0 auto;
    background: #EFEFEF;

}

.PartnerHeader {
    display: flex;
    justify-content: space-between;
    background: #EFEFEF;
}

.PartnerColumn1 {
    /* padding: 73px 0 0 101px; */

}

.PartnerColumn2 {
    position: relative;
    width: 50%;
}

.PartnerVector {
    position: absolute;
    left: 1150px;
    bottom: 0;
}

.Partner-btn {
    width: 200px;
    height: 64px;
    margin: 40px 0 79px 0;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .5s;
    cursor: pointer;
}

.Partner-btn:hover {

    background: #C71414;
    /* opacity: 0; */
    border-radius: 32px;
}

.Partner-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

.PartnershipTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin: 0 0 32px 0;

    color: #2D2D2D;
}

.PartnershipDescription {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    width: 728px;
    color: #2D2D2D;

    opacity: 0.5;
}

.PartnerMain {
    background: #EFEFEF;
}

.PMheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PMheader .p1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    /* width: 728px; */
    margin: 0;
    padding: 73px 0 0 0;

    color: #2D2D2D;

}

.PMheader .p2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 30px;
    color: #000000;

    opacity: 0.5;
}

.PMsections {
    /* padding: 103px 0 26px 104px; */
}

.PMsection1 .title {
    /* margin: 0; */
    line-height: normal;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #000000;

}

.PMsection2 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #000000;
}

.PMsection3 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #000000;
}

.PMsection4 .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #000000;
}

.section2-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section2-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section2-domains .domain-description {
    width: 200px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.section3-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.section3-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section3-domains .domain-description {
    /* width: 200px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.section4-domains {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.section4-domains .domain {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 170px 0 0;
    text-align: center;
    margin: 0;
    color: #2D2D2D;

}

.section4-domains .domain-description {
    /* width: 200px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    color: #000000;

    opacity: 0.5;
}

.PMcontact p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    text-align: center;
    margin: 81px 105px;
    color: #000000;
}


.PMForm {
    display: flex;
    background: #EFEFEF;
    justify-content: space-between;
    flex-wrap: wrap;


}

.PMForm .container {
    display: flex;
    /* width: 50%; */
    /* margin: 61px 105px; */
    flex-direction: column;

}

.PMForm .container:nth-child(2) {
    align-items: center;

}

.PMcontact p {
    line-height: normal;
    margin: 50px;
}

.PMForm {
    justify-content: center;
}

.PMForm .container .title {
    /* width: 517px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin: 0;


}

.PMForm .container .description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.25px;
    /* width: 490px; */
    color: #404040;

    opacity: 0.99;

}

.PMForm .container .description .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;

}

.PMForm .container .Form input {
    width: 308px;
    height: 40px;
    margin: 0 0 12px 0;

}


.PMForm .container .Form .col input {
    width: 150px;
    height: 40px;

    /* margin: 0 0 12px 0; */

}

.PMForm .container .Form .checkbox {
    height: 24px;
    width: 24px;
    margin: 0;
}

.PMForm .container .Form .check {
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;

}

.PMForm .container .Form .checkP {
    margin: 0 0 0 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #404040;

}

.PMForm .container .Form .checkP .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;
}

.PMForm .container .Form .submitbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 64px;
    background: #923A3A;
    border-radius: 32px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
    cursor: pointer;
}

.PMForm .container .Form .submitbtn p {
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.PMForm .container .Form .submitbtn:hover {
    background: #C71414;

}

.PMForm .container .Form .usermess {
    height: 55px;
}


.PMForm .container .Form .vector1 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector1 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector1 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector1 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector1 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector1 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector1 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector2 {
    position: relative;
}

.PMForm .container .Form .vector2 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector2 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector2 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector2 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector2 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector2 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector2 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector3 {
    position: relative;
}

.PMForm .container .Form .vector3 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector3 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector3 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector3 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector3 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector3 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector3 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}




.PMForm .container .Form .vector4 {
    position: relative;
}

.PMForm .container .Form .vector4 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector4 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector4 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector4 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector4 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector4 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector4 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector5 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 7px 0 0;
    width: 308px;
}

.PMForm .container .Form .vector5 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector5 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector5 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector5 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector5 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector5 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector5 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector6 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector6 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector6 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector6 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector6 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector6 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector6 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector6 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}


.PMForm .container .Form .vector7 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector7 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector7 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector7 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector7 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector7 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector7 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector7 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}

.PMForm .container .Form .vector8 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector8 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector8 img {
    position: absolute;
    top: 17px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector8 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector8 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector8 input:hover {
    padding: 0 5px;
}

.PMForm .container .Form .vector8 input:focus {
    padding: 5px;
}

.PMForm .container .Form .vector8 input::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}




/* -------------Footer------------- */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;
    max-width: 1320px;
    margin: 0 auto;
}

footer .contactInfo {
    background: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: column;
    /* padding: 60px 105px; */
}

footer .contactInfo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    /* margin: 61px 0 0 0; */
    color: #2D2D2D;
}

footer .contactLinks {
    /* padding: 60px 105px; */
    display: flex;
    flex-direction: column;

}


footer .contactIcons {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 30px 0;
    cursor: pointer;

}

footer .contactIcons img {
    cursor: pointer;

}

footer .contactIcons a {
    padding: 0 0 0 20px;

}


footer .navref {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;

}

footer .navref a {
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 0 63px;
    padding: 5px;

    color: #2D2D2D;
    transition: .25s;
    cursor: pointer;

}

footer .navref a:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 32px;

}

footer .contactCopy {
    display: flex;
    justify-content: space-between;
}

footer .contactCopy p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    display: flex;
    align-items: center;

    color: #2D2D2D;
}

footer .logo {
    width: 108px;
    margin: 15px 0;
}


/* -------------Burger------------- */

*,
*:before,
*:after {
    box-sizing: border-box;
}

label .menu {
    position: absolute;
    right: 90px;
    top: -90px;
    z-index: 100;
    height: 150px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;

}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #3B3B3B;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #3B3B3B;


}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    position: fixed;


}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

label input:checked+.menu+ul {
    opacity: 1;
    /* display: block; */
}

label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

label a {
    margin-bottom: 2em;
    display: block;
    color: #2B2B2B;
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    transition: .25s;

}

label a:hover {
    background: #EFEFEF;
    border-radius: 32px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}


/* -------------Media------------- */

@media screen and (max-width:2560px) {

    .gr {
        /* height: 57%; */
    }

    nav label {
        display: none;
    }

    .WhyUs-container {
        max-width: 1320px;
        margin: 0 auto 0 auto;
    }

    .header-container {
        max-width: 1320px;

    }

    .FDev-container {
        max-width: 1320px;
        margin: auto;
        background: #EFEFEF;
    }


    /* -------------Work At page------------- */
    .titleWork p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 150px;
        line-height: initial;
        align-items: center;
        color: #2D2D2D;
    }

    .Work-btn1 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    .Work-btn2 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #2B2B2B;
        cursor: pointer;
    }

    /* ------------------------------- */

    /* -------------Partership page------------- */

    #pnform {
        background: #EFEFEF;
    }

    .PMForm-container {
        max-width: 1320px;
        margin: 0 auto;
        background: #EFEFEF;
        padding: 75px 0;
    }

    .PMSections-container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 100px 0 50px;

    }

    .PartnerHeader {
        display: block;
    }

    .PMForm {
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #EFEFEF;
    }

    /* ------------------------------- */

    /* -------------Contacts page------------- */
    .ContactHeader .ContactColumn {
        width: 50%;
    }



    /* ------------------------------- */
}


@media screen and (max-width: 1440px) {

    .gr {
        /* height: 57%; */
    }

    .header-container {
        max-width: 1320px;
        margin: 0 auto;
    }

    nav label {
        display: none;
    }

    /* -------------Wokr At page------------- */
    footer {
        /* justify-content: space-around; */
        padding: 30px 0;
    }

    footer .contactInfo {
        padding: 5px;
    }

    footer .contactLinks {
        padding: 5px;
    }

    .titleWork p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: initial;
        align-items: center;
        color: #2D2D2D;
    }

    .Work-btn1 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    .Work-btn2 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #2B2B2B;
        cursor: pointer;
    }

    /* ------------------------------- */

    /* -------------Partership page------------- */
    .PMForm {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .PMForm .container .title {
        font-size: 45px;
    }

    /* ------------------------------- */


    /* -------------Contacts page------------- */
    .ContactHeader {
        flex-wrap: wrap;
    }

    .ContactHeader .ContactColumn {
        width: 100%;

    }

    .ContactHeader .ContactColumn {
        width: 50%;
    }






    /* ------------------------------- */
}


@media screen and (max-width: 1024px) {

    .WhyUs-container {
        max-width: 960px;
        margin: 0 auto 0 auto;
    }

    .header-container {
        max-width: 960px;

    }

    .FDev-container {
        max-width: 960px;
        margin: auto;
        background: #EFEFEF;
    }

    .Logos-container {
        max-width: 960px;
    }

    nav label {
        display: block;
    }

    nav .navref li {
        display: none;
    }


    .header .column1 {
        width: 100%;
    }

    .FDev {
        padding: 0;
    }

    .textArea {
        flex-wrap: nowrap ;
    }


    /* -------------Work At page------------- */

    .titlework-container {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .VacanciesSection-container {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .CandidatureSection-container {
        max-width: 960px;
        margin: 0 auto;
    }
    

    .titleWork p {
        font-size: 90px;
    }

    .CandidateP2 {
        margin: 18px 0;


    }

    .Work-btn1 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    .Work-btn2 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #2B2B2B;
        cursor: pointer;
    }

    footer {
        max-width: 960px;
        margin: 0 auto;
        padding: 30px 0;
    }

    footer .contactInfo {
        padding: 5px;
    }

    footer .contactLinks {
        padding: 5px;
    }

    /* ------------------------------- */

    /* -------------Contacts page------------- */

    .ContactHeader-container {
        max-width: 960px;
    }

    .ContactHeader .ContactColumn {
        width: 100%;

    }

    /* ------------------------------- */

    /* -------------Partership--------------------------- */

    .PMForm-container {
        max-width: 960px;
    }

    .PMSections-container {
        max-width: 960px;
    }

    .PartnerHeader-container {
        max-width: 960px;
    }


    .PartnerVector {
        display: none;
    }

    /* ------------------------------- */




}

@media screen and (max-width: 768px) {

    .gr , .column2 {
        display: none;
    }

    .WhyUs-container {
        max-width: 720px;
        margin: 0 auto 0 auto;
    }

    .header-container {
        max-width: 720px;

    }

    .FDev-container {
        max-width: 720px;
        margin: auto;
        background: #EFEFEF;
    }

    .Logos-container {
        max-width: 720px;
    }

    .subtitle1 {
        margin-bottom: 0;
    }

    .Logos {
        justify-content: center;
        /* padding: 60px; */
    }

    .Logos div img {
        padding: 10px;
    }

    footer {
        /* justify-content: space-evenly; */
        max-width: 720px;
        padding: 30px 0;
        flex-wrap: nowrap;
    }

    footer .contactInfo {
        padding: 5px;
    }

    footer .contactLinks {
        padding: 5px;
    }

    .FDev {
        padding: 30px 15px;
    }

    .title3 {
        font-size: 70px;
    }

    .FSquares {
        position: absolute;
        left: 68px;
        top: 4px;
    }

    .FUnion {
        position: absolute;
        top: -1px;
    }

    .FCircles {
        position: absolute;
        top: -10px;
    }

    .FSemicirctop {
        position: absolute;
        top: 3px;
    }

    .FSemicircbot {
        top: 49px;
    }

    /* -------------Work At page------------- */

    .titlework-container {
        max-width: 720px;
        margin: 0 auto;
    }
    
    .VacanciesSection-container {
        max-width: 720px;
        margin: 0 auto;
    }
    
    .CandidatureSection-container {
        max-width: 720px;
        margin: 0 auto;
    }

    .CandidateP1 {
        line-height: normal;
    }

    .CandidateP2 {
        margin: 18px 0;
    }


    /* ------------------------------- */

    /* -------------Partnershi page------------- */

    .PMForm-container {
        max-width: 720px;
    }

    .PMSections-container {
        max-width: 720px;
    }

    .PartnerHeader-container {
        max-width: 720px;
    }

    .PartnerHeader {
        display: block;
    }

    .PMsections {
        padding: 90px 30px;
    }

    .PartnerColumn1 {
        /* padding: 70px; */
    }

    .PMForm {
        flex-wrap: wrap;
        justify-content: center;
    }

    .PMForm .container .title {
        font-size: 80px;
    }



    /* ------------------------------- */

    /* -------------Contacts page------------- */

    
    .ContactHeader-container {
        max-width: 720px;
    }

    .ContactColumn img {
        width: 350px;
    }



    /* ------------------------------- */
}




@media screen and (max-width: 425px) {

    /* -------------Home page------------- */

    .WhyUs-container {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    .header-container {
        width: 100%;

    }

    .FDev-container {
        /* max-width: 960px; */
        margin: auto;
        justify-content: center;
        background: #EFEFEF;
    }

    .Logos-container {
        /* max-width: 960px; */
    }

    .header .column1 {
        padding: 50px 15px;

    }

    .titleHome {
        font-size: 70px;
        line-height: normal;
    }

    .WhyUs {
        padding: 120px 15px;
    }

    .WhySection img {
        width: 365px;
    }

    .textArea {
        display: flex;
        flex-direction: column;
    }

    .textArea :nth-child(3) {
        margin: 28px 0;
    }

    .features {
        justify-content: center;
    }

    .Logos {
        padding: 0 15px;
    }

    .title2 {
        font-size: 80px;
    }

    .title3 {
        font-size: 60px;
    }

    .subtitle3 {
        margin: 18px;
        font-size: 20px;
    }

    footer {
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: column;
        padding: 10px;
    }

    footer .navref {
        flex-direction: column;
    }

    footer .navref a {
        margin: 0;

    }

    footer .contactCopy {
        flex-direction: column;
    }

    footer .contactCopy p {
        font-size: 17px;
    }

    footer .contactIcons {
        justify-content: flex-start;
    }

    footer .contactLinks {
        padding: 0;
    }

    footer .navref {
        align-items: flex-start;
    }

    footer .contactInfo {
        padding: 0;
    }

    /* ------------------------------- */


    /* -------------Work At page------------- */

    .titleWork {
        padding: 42px 30px;
    }

    .titleWork p {
        margin: 0;
        font-size: 60px;
    }

    .WorkBtns {
        flex-wrap: wrap;

    }

    .Work-btn1 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    .Work-btn2 p {
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        text-align: center;
        color: #2B2B2B;
        cursor: pointer;
    }

    .Work-btn1 {
        margin: 20px;
    }

    .Work-btn2 {
        margin: 20px;
    }

    .VacanciesSection {
        /* padding: 0; */
    }

    .VacanciesSection div {
        margin: 26px;
    }

    .VacanciesAviability {
        padding: 0;
        justify-content: center;
    }

    .CandidatureSection {
        padding: 95px 20px 95px;
        justify-content: center;
    }

    .CandidateP1 {
        font-size: 33PX;
    }

    .CandidateP2 {
        margin: 18px 0;
    }

    /* ------------------------------- */

    /* -------------Partnership page------------- */
    .PartnerVector {
        display: none;
    }

    .PMheader .p1 {
        font-size: 40px;
    }

    .PMheader .p2 {
        font-size: 14px;
    }

    .PartnerColumn1 {
        padding: 20px;
    }

    .PartnershipTitle {
        font-size: 70px;
    }

    .PMsection1 .title {
        font-size: 30px;
    }

    .PMsection2 .title {
        font-size: 30px;
    }

    .PMsection3 .title {
        font-size: 30px;
    }

    .PMsection4 .title {
        font-size: 30px;
    }

    .PMsections {
        padding: 103px 20px;
    }

    .section2-domains .domain {
        margin: 18px 0;
        padding: 0;
        text-align: start;
    }

    .section3-domains .domain {
        margin: 18px 0;
        padding: 0;
        text-align: start;
    }

    .section3-domains div {
        margin: 9px 0;
    }

    .section4-domains .domain {
        margin: 18px 0;
        padding: 0;
        text-align: start;
    }

    .PMcontact p {
        font-size: 40px;
    }

    .PMForm .container {
        margin: 30px;
    }

    .PMForm .container .title {
        font-size: 50px;
        line-height: normal;
    }

    .PMForm .container .description {
        font-size: 14px;
    }

    .PMForm {
        flex-wrap: wrap;
        justify-content: center;
    }

    .PartnershipDescription {
        width: auto;
    }

    /* ------------------------------- */


    /* -------------Contacts page------------- */


    .ContactHeader-container {
        flex-direction: column;
    }

    .ContactColumn {
        padding: 15px;
    }

    .ContactColumn img {
        width: 200px;
    }

    .ContactTextDescription {
        line-height: normal;
        font-size: 16px;
    }



    /* ------------------------------- */
}